/StatelessUnitTesting/nbproject/
/StatelessUnitTesting/target/
/ENumsPractice/target/
/DateTimeCodeAlong/target/
/MonstrousDaoTestingLab/nbproject/
/MonstrousDaoTestingLab/target/
/BirthdayCalculator/target/
